@charset "UTF-8"; 
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color:rgb(89, 77, 70);
}
.banner {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    object-fit: cover;

}
/* Navigation Bar */
header{
    position: fixed;
    top:0; left:0; right:0;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
header .navbar ul{
    list-style: none; 
}
header .navbar ul li{
    position: relative;
    float: left;
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
}
header .navbar ul li a:hover{
    background: rgba(103, 98, 98);
    color: black;
}
header .navbar ul li ul{
    position: absolute;
    left:0;
    width:200px;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
header .navbar ul li ul li{
    width:100%;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: none;
    align-items: left;
} 

.trailer {
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 560px;
    height: 315px;
}
.heading {
    text-align: center;
    color:rgb(219, 191, 145);
    font-weight: bold;
}
.event {
    text-align: center;
    color: rgb(219, 191, 145);
}
.container{
    display: flex;
	width: 100%;
	flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}
.cookies{
    display: inline-block;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(219, 191, 145);
    background-color: rgba(0, 0, 0, 0.8);
}
.icons{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.division{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(111, 78, 55,0.6);
    color: rgb(219, 191, 145);
    border-radius: 15px; 
    width: 50%; 
    margin: 10px auto 10px auto; 
}

.division {
    background-color:rgba(111, 78, 55,0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    border-radius: 15px; 
    margin: 15px auto 15px auto;
    color: rgb(219, 191, 145);
}
.separate2 {
    margin: 10px;
}
.subheading {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}
.split {
    margin: 20px 20px 20px 40px;
}
.functions{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 10px;
}
.align {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.title {
    text-align: center;
    color:rgb(219, 191, 145);
    font-weight: bold;
}
.toggle-button { 
    position: absolute; 
    top: 12px; 
    right: 16px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    width: 30px; 
    height: 21px; 
  } 
  .toggle-button .bar { 
    height: 3px; 
    width: 100%; 
    background-color: white; 
    border-radius: 10px; 
  }
  .post {
    flex-direction: column;
    background-color:rgba(111, 78, 55,0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    border-radius: 15px; 
    margin: 15px auto 15px auto;
    color: rgb(219, 191, 145);
  }
@media only screen and (max-width:980px){

    /* NAVIGATION BAR */

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }
    
    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:rgba(0, 0, 0, 0.8);
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        display: none;
    }
    header .navbar ul li{
        width:100%;
    }
    header .navbar ul li ul{
        position:relative;
        width:100%;
    }
    header .navbar ul li ul li{
        background-color: rgba(0, 0, 0, 0.8);
        color: black;
    }
    #menu-bar:checked ~ .navbar {
        display: initial;
    }

    .division {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
    }
    .cookies {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .separate2 {
        text-align: center;
    }
    .functions {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .subheading {
        text-align: center;
        font-weight: bold;
    }
    .split {
        text-align: center;
        font-size: 15px;
    }
    .trailer{
        width: 80%;
        height: 100%;
    }
}