@charset "UTF-8"; 
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(89, 77, 70);
}
.banner {
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    object-fit: cover;

}
.dropdownbtn { /*"Character Button*/
    font-weight: bold;
    text-align: center;
    width: 140px;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    text-decoration: none;
  }
.dropdownbtn a{
    text-decoration: none;
    color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
} 
.dropdown-content {
    font-weight: bold;
    text-align: center;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 140px;
    z-index: 1;
    text-decoration: none;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8); /*background colour of buttons*/
    color: white;
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
}
.dropdown-content a {
    border: 2px bold rgba(207, 195, 197, 0.8);
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.nodrop{
    font-weight: bold;
    display: inline;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.nodrop:hover {background-color: rgba(207, 195, 197, 0.8);}
.dropdown-content a:hover {
    background-color: rgba(207, 195, 197, 0.8);
    text-decoration: none;
}
.dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none;
}
.dropdown:hover .dropdownbtn {
    background-color: rgba(207, 195, 197, 0.8);
    text-decoration: none;
}

.trailer {
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.heading {
    text-align: center;
    color:rgb(219, 191, 145);
    font-weight: bold;
}
.event {
    text-align: center;
    color: rgb(219, 191, 145);
}
.container{
    display: flex;
	width: 100%;
	flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;

}
.cookies{
    display: inline-block;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(219, 191, 145);
    background-color: rgba(0, 0, 0, 0.8);
}
.icons{
    display: inline-block;
    width: 80px;
    height: 80px;
}
.division{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(111, 78, 55,0.6);
    color: rgb(219, 191, 145);
    border-radius: 15px; 
    width: 50%; 
    margin: 10px auto 10px auto; 
}

.division {
    background-color:rgba(111, 78, 55,0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    border-radius: 15px; 
    margin: 10px auto 10px auto;
    color: rgb(219, 191, 145);

}

.separate2 {
    margin: 10px;
}
.align {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width:980px){
    .division {
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
    }
    .cookies {
        width: 80%;
        height: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .separate2 {
        text-align: center;
    }
}